<html>
<head>
<title></title>
</head>
<body>

  <div>
    <h2>404 Error</h2>
    Error URL: <%= url %>
  </div>

  <div style="border: 1px black solid; background-color: #e8e8e8;padding: 15px;"><%= req %></div>

</body>
</html>
